<h1> kryptonite </h1>
<h3>Search Results</h3>

<% results.each do |hospital_pricing| %>
  <div class="hospital_pricing">
      <h3><%= hospital_pricing.procedure %></h3>
  <p>
    <%= link_to 'Cost', hospital_pricing _path(hospital_pricing.id) %>
  </p>
  </div>
<% end %>